{% load i18n %}

<!DOCTYPE html>
<html lang="{% trans 'en' %}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'Document' %}</title>
</head>

<body>
    {% blocktrans %}
    <h1>Checkout for {{ user.username }}</h1>
    {% endblocktrans %}

    <div class="order-info">
        <h3>{% trans 'Your order' %}</h3>
        <ul>
            {% for item in cart %}
            <li>
            {{ item.quantity }}x {% trans item.product.name %}
            <span>${{ item.total_price|floatformat:2 }}</span>
            </li>
            {% endfor %}
            {% if cart.coupon %}
            <li>
                "{% trans cart.coupon.code %}" {{ cart.coupon.discount}}{% trans 'off' %})
                <span class="neg">- ${{ cart.get_discount|floatformat:2 }}</span>
            </li>
            {% endif %}
        </ul>

        <p>{% trans 'Total:' %} ${{cart.get_total_price_after_discount|floatformat:2}}</p>
    </div>
    <aside>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="{% trans 'Place Order' %}">
        </form>
    </aside>
</body>

</html>
