<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% for item in cart %}
        {{item.product.name}}
    {% endfor %}
    <h1>List of products {% if category %}for {{category}} {% endif %}</h1>
    {% for product in products %}
        <a href="{{product.get_absolute_url}}"><h1>{{product.name}}</h1></a>
    {% endfor %}


    <h1>List of categories</h1>
    <hr>

    {% for category in categories %}
        <a href="{{category.get_absolute_url}}">{{category.name}}</a>
        <br>
    {% endfor %}

    <a href="{% url "cart:cart_detail" %}">Go to shopping Cart</a>
</body>

</html>